<h3>Products</h3>

<div class="container">
  <div class="row">
    <div class="card-columns">

      <div class="pt-5">
        <div *ngIf='appService.loadingData'>Loading....</div>
        <div *ngIf='!appService.loadingData' >
          <div>
            <div *ngFor='let p of appService.productDetails | Search: appService.searchTerm' class="col-lg-3">
              <div class="card" style="width: 18rem;">
                <h4>{{p.name}}</h4>
                <img [src]="p.img" class="card-img-top" alt="{{p.name}}">
                <div class="card-body">
                  <h5 class="card-title">{{p.price}}</h5>
                  <p class="card-text">{{p.description}}</p>

                  <button type="submit" class="btn btn-primary" (click)='productDetails(p.id)'>More Details</button>

   
                  <a *ngIf='appService.username && !inCart(p)'
                   class="btn btn-light" (click)='addToCart(p)'>Add to Cart</a>
                   <a *ngIf='appService.username && inCart(p)'
                   class="btn btn-light" (click)='removeFromCart(p)'>Remove from Cart</a>
                   
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>